{{#> layouts/html pageWrapperCss="survey"}}
<script id="survey-config" data-data='{{{json survey}}}'></script>
<div class="Landing">
    <div class="Landing-core">
        <div class="Landing-col">
            <div class="Landing-title">
                {{landing.title}}
            </div>
            <div class="Landing-description">
                {{landing.subtitle}}
            </div>
        </div>

        {{#if landing.image}}
        <img class="Landing-img" src="{{landing.image}}" alt="two people high five">
        {{/if}}
    </div>
    <div class="search_form"></div>
    <div class="Landing-divider">
        or
    </div>
    <div class="Landing-links">
        {{#each landing.links~}}
        <a href="{{this.url}}" class="Landing-link">{{this.text}}</a>
        {{~/each}}
    </div>
    <div class="Footer">
        <img src="/static/assets/images/yext-logo.svg" alt="">
    </div>
</div>

<script src="https://assets.sitescdn.net/answers-search-bar/v1.0/answerstemplates.compiled.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script>
    function initAnswers() {
        const apiKey = "{{global_config.apiKey}}";
        const experienceKey = "{{global_config.experienceKey}}";
        const experienceVersion = "PRODUCTION";
        const locale = "en";
        const businessId = "{{global_config.businessId}}";

        ANSWERS.init({
            apiKey: apiKey,
            experienceKey: experienceKey,
            experienceVersion: experienceVersion,
            locale: locale,
            businessId: businessId,
            templateBundle: TemplateBundle.default,
            onReady: function () {
                ANSWERS.addComponent("SearchBar", {
                    container: ".search_form",
                    name: "search-bar", //Must be unique for every search bar on the same page
                    redirectUrl: "/index.html",
                    placeholderText: "Search...",
                });

                let url = apiKey.includes('sandbox') ? 'https://liveapi-sandbox.yext.com/v2/accounts/me/answers/autocomplete' : 'https://liveapi-cached.yext.com/v2/accounts/me/answers/autocomplete';
                url += '?v=20190101';
                url += '&api_key=' + apiKey.replace('sandbox-', '');
                url += '&sessionTrackingEnabled=false';
                url += '&experienceKey=' + experienceKey;
                url += '&input=';
                url += '&version=' + experienceVersion;
                url += '&locale=' + locale;

                fetch(url)
                    .then(r => r.json())
                    .then((response) => {
                        // Get strings from response
                        const strings = response.response.results.map(r => r.value);

                        // Set up Typed
                        var options = {
                            strings: strings,
                            showCursor: true,
                            cursorChar: "|",
                            typeSpeed: 45,
                            backSpeed: 20,
                            smartBackspace: true,
                            loop: true,
                            startDelay: 500,
                            backDelay: 2000,
                            attr: "placeholder",
                        };

                        new Typed(".js-yext-query", options);
                    });
            },
        });
    }
</script>
<script src="https://assets.sitescdn.net/answers-search-bar/v1.0/answers.min.js" onload="ANSWERS.domReady(initAnswers)"
    async defer></script>
{{/layouts/html }}